body {
    background-color: #b6d4aa;
    margin: 0;
  }
  .block {
    background-color: #00695C;
    width: 100px;
    height: 100vh;
  }
  .block2 {
    background-color: #00695C;
    width: 100px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
  }